
*{
    font-family: 'Cinzel', serif;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: black;
}
#timer{
    float: left;
    padding: 10px;
    border: 1px solid white; 
}
header:after {
    content: "";
    display: block;
    clear: both;
  }
.clickText{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.box{
    width : 20%;
    height: 25%;
    border: 1px solid white; 
    float : left;
    padding: 5px;
    background-color: #c3073f ;
}
#container{
    position: relative;
    height : 300px;
    width :400px;
    background-color: #c3073f;
    text-align: center;
    margin: 0 auto;
}
.text{

    text-align: center;

}
#reset{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
#bestTime{
    float : right;
    padding:10px;
    border: 1px solid white; 
}
.newGame{
    border: 1px solid white;
}